*,*::after,*::before{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: hsl(210, 60%, 98%);
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
  }
.container{
    margin-top: 40px;
    background-color: hsl(0, 0%, 100%);
    max-width: min(600px,80%);
    margin-left: auto;   
    margin-right: auto;
    min-height: 600px;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 0;
    overflow-y: hidden;
    -webkit-box-shadow: 6px 10px 44px -23px hsl(211, 68%, 94%);
    -moz-box-shadow: 6px 10px 44px -23px hsl(211, 68%, 94%);
    box-shadow: 6px 10px 44px -23px hsl(211, 68%, 94%);
}
.flex{
    display: flex;
}
.n-head{
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;
}
.n-head a{
    text-decoration: none;
    color: hsl(219, 12%, 42%);
}
.n-head h2{
    font-weight: bolder;
    font-size: 20px;
}
#mrk:hover{
    color: hsl(219, 85%, 26%);
}
/* each notification */
.card{
    margin: 5px 0;
    display: flex;
    gap: 10px;
    padding: 5px 20px;
    min-height: 60px;
}
.card img{
    height: 40px;
    /* float: left; */
}
.post-contents{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.post-contents img{
    position: absolute;
    top: 0;
    right: 0px;
    height: 40px;
    width: 40px;
}
.card p{
    color: hsl(219, 14%, 63%);
}
.n-time{
    font-size: 14px;
    color:  hsl(219, 14%, 63%);
    padding: 3px 0;
}
/* profile links designed */
.profile-link{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.profile-link:hover{
    color:  hsl(219, 85%, 26%);
}
/* spans designed */
span.n-counter{
    background-color: hsl(219, 85%, 26%);
    padding: 3px 8px;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
    font-size: 16px;
}
.pvt-message{
    border: 1px solid hsl(219, 14%, 63%);
    border-radius: 10px;
    padding: 10px;
}
.pvt-message:hover{
    background-color: hsl(211, 68%, 94%);
    cursor: pointer;
}
/* unread notification red dot */
.red-dot{
    background-color: hsl(1, 90%, 64%);
    display: inline-block;
    /* margin-left: 10px; */
    height: 8px;
    width: 8px;
    border-radius: 10px;
}
.unread{
    background-color:hsl(210, 60%, 98%);
    border-radius: 10px;
}
.plink{
    color: hsl(219, 85%, 26%);
    text-decoration: none;
    font-weight: bolder;
}

@media screen and (max-width: 375px) {
    .container{
        max-width: max(600px,100%);
        margin: 0;
        border-radius: 0;
        padding: 10px;
    }
}